<div class="content-container" >
    <div class="content-area">
        <h2>ARi</h2>
        <div class="row">
            <div class="col-xs-12 col-md-8">
                <p>Combining great ideas from multiple fragmented
                    services available to Department of Computing
                    students into one simple, unified web app.</p>
            </div>
            <div class="col-xs-12 col-md-4">
                IMAGE GOES HERE
            </div>
        </div>
        <h2>BananaBeats</h2>
        <div class="row">
            <div class="col-xs-12 col-md-8">
                <p>Ridiculous idea to make a basic keyboard with bananas for
                    the keys, remarkably seen to completion.</p>
            </div>
            <div class="col-xs-12 col-md-4">
                IMAGE GOES HERE
            </div>
        </div>
        <h2>WACC Compiler Extension</h2>
        <div class="row">
            <div class="col-xs-12 col-md-8">
                <p>After making a compiler for a simple, while-language, we
                expanded it to have a class system with features such as
                inheritance and overriding functions.</p>
            </div>
            <div class="col-xs-12 col-md-4">
                IMAGE GOES HERE
            </div>
        </div>
        <h2 id="jump-site"><a href="jump-site"></a>This Website</h2>
        <div class="row">
            <div class="col-xs-12 col-md-8">
                <p>Made in the 2017 summer break to document things I've done
                as well as improve my skills in web development and Angular.</p>
            </div>
            <div class="col-xs-12 col-md-4">
                IMAGE GOES HERE
            </div>
        </div>
    </div>
    <nav class="sidenav">
        <section class="sidenav-content">
            <section class="nav-group">
                <input id="ARi-sidenav-group" type="checkbox">
                <a class="nav-link" onClick="document.getElementById('jump-to').scrollIntoView();">ARi</a>
                <ul class="nav-list">
                    <li><a class="nav-link">Link 1</a></li>
                    <li><a class="nav-link">Link 2</a></li>
                    <li><a class="nav-link">Link 3</a></li>
                </ul>
            </section>
            <section class="nav-group">
                <input id="BBts-sidenav-group" type="checkbox">
                <a class="nav-link" onClick="document.getElementById('jump-to').scrollIntoView();">BananaBeats</a>
                <ul class="nav-list">
                    <li><a class="nav-link">Link 1</a></li>
                    <li><a class="nav-link">Link 2</a></li>
                    <li><a class="nav-link">Link 3</a></li>
                </ul>
            </section>
            <section class="nav-group">
                <input id="WACC-sidenav-group" type="checkbox">
                <a class="nav-link" onClick="document.getElementById('jump-to').scrollIntoView();">WACC Compiler</a>
                <ul class="nav-list">
                    <li><a class="nav-link">Link 1</a></li>
                    <li><a class="nav-link">Link 2</a></li>
                    <li><a class="nav-link">Link 3</a></li>
                </ul>
            </section>
            <section class="nav-group">
                <input id="site-sidenav-group" type="checkbox">
                <a class="nav-link" onClick="document.getElementById('jump-to').scrollIntoView();">This Website</a>
                <ul class="nav-list">
                    <li><a class="nav-link">Link 1</a></li>
                    <li><a class="nav-link">Link 2</a></li>
                    <li><a class="nav-link">Link 3</a></li>
                </ul>
            </section>
        </section>
    </nav>
</div>
