.sidenav {
    overflow: hidden;
    width: 216px;
}

.content-area {
    width: 100%;
    height: -webkit-calc(100vh - 60px);
    height:    -moz-calc(100vh - 60px);
    height:         calc(100vh - 60px);
}

.content-container {
}

.sidenav .sidenav-content .nav-group .nav-link {
    border-radius: 3px 0 0 3px;
    padding-left: 12px;
    margin-left: 30px;
    width: 100%;
    font-weight: 500;
}

.sidenav .nav-group .nav-list {
    padding: 0;
}

.sidenav .sidenav-content>.nav-group>.nav-link:hover {
    background: #eee;
}
.row {
    width: 100%;
}

img {
    border: 1px solid dimgray;
}
