<div class="content-container" >
    <div class="content-area">
        <h2>ARi</h2>
        <p>Combining great ideas from multiple fragmented
            services available to Department of Computing
            students into one simple, unified web app.</p>
        <h2>BananaBeats</h2>
        <h2>WACC Compiler Extension</h2>
        <h2>WACC Compiler Extension</h2>
        <h2>WACC Compiler Extension</h2>
        <h2>WACC Compiler Extension</h2>
        <h2>WACC Compiler Extension</h2>
        <h2>WACC Compiler Extension</h2>
        <h2>WACC Compiler Extension</h2>
        <h2>WACC Compiler Extension</h2>
        <h2>WACC Compiler Extension</h2>
        <h2 id="jump-to"><a href="jump-to"></a>This Website</h2>
    </div>
    <nav class="sidenav">
        <section class="sidenav-content">
            <section class="nav-group">
                <input id="ARi-sidenav-group" type="checkbox">
                <a class="nav-link" onClick="document.getElementById('jump-to').scrollIntoView();">ARi</a>
                <ul class="nav-list">
                    <li><a class="nav-link">Link 1</a></li>
                    <li><a class="nav-link">Link 2</a></li>
                    <li><a class="nav-link active">Link 3</a></li>
                    <li><a class="nav-link">Link 4</a></li>
                    <li><a class="nav-link">Link 5</a></li>
                    <li><a class="nav-link">Link 6</a></li>
                </ul>
            </section>
            <a class="nav-link" onClick="document.getElementById('jump-to').scrollIntoView();">ARi</a>
            <a href="..." class="nav-link">
                Nav Element 2
            </a>
            <section class="nav-group collapsible">
                <input id="tabexample1" type="checkbox">
                <label for="tabexample1">Collapsible Nav Element</label>
                <ul class="nav-list">
                    <li><a class="nav-link">Link 1</a></li>
                    <li><a class="nav-link">Link 2</a></li>
                </ul>
            </section>
            <section class="nav-group">
                <input id="tabexample2" type="checkbox">
                <label for="tabexample2">Default Nav Element</label>
                <ul class="nav-list">
                    <li><a class="nav-link">Link 1</a></li>
                    <li><a class="nav-link">Link 2</a></li>
                    <li><a class="nav-link active">Link 3</a></li>
                    <li><a class="nav-link">Link 4</a></li>
                    <li><a class="nav-link">Link 5</a></li>
                    <li><a class="nav-link">Link 6</a></li>
                </ul>
            </section>
        </section>
    </nav>
</div>
