<clr-main-container>
  <clr-header>
    <div class="branding">
      <a href="#" class="nav-link">
        <span class="title">Harry Uglow</span>
      </a>
    </div>
    <div class="header-nav clr-nav-level-1">
      <a class="nav-link" [routerLink]="['../home']" routerLinkActive="active" href="#"><span class="nav-text">Home</span></a>
      <a class="nav-link" [routerLink]="['../projects']" routerLinkActive="active" href="#"><span class="nav-text">Projects</span></a>
      <a class="nav-link" [routerLink]="['../travel']" routerLinkActive="active" href="#"><span class="nav-text">Travel</span></a>
      <a class="nav-link" [routerLink]="['../sport']" routerLinkActive="active" href="#"><span class="nav-text">Sport</span></a>
      <a class="nav-link" [routerLink]="['../music']" routerLinkActive="active" href="#"><span class="nav-text">Music</span></a>
      <a class="nav-link" [routerLink]="['../nerdy']" routerLinkActive="active" href="#"><span class="nav-text">Nerdy</span></a>
    </div>
  </clr-header>
  <div class="content-container">
      <router-outlet></router-outlet>
  </div>
</clr-main-container>
