<div class="content-container" >
    <div class="content-area">
        <h2>Scotland</h2>
        <div class="row">
            <div class="col-xs-12 col-md-8">
                <p>Private cruise around the outer Hebrides with Flo's family. Combining great ideas from multiple fragmented
                    services available to Department of Computing
                    students into one simple, unified web app.</p>
            </div>
            <div class="col-xs-12 col-md-4">
                IMAGE GOES HERE
            </div>
        </div>
        <h2>Moliets Surf Camp</h2>
        <div class="row">
            <div class="col-xs-12 col-md-8">
                <p>Surf camp in the south of France with Imperial College
                Surf Soc.</p>
            </div>
            <div class="col-xs-12 col-md-4">
                IMAGE GOES HERE
            </div>
        </div>
        <h2>Ile de Ré</h2>
        <div class="row">
            <div class="col-xs-12 col-md-8">
                <p>Holiday with my family</p>
            </div>
            <div class="col-xs-12 col-md-4">
                IMAGE GOES HERE
            </div>
        </div>
        <h2 id="jump-sylt"><a href="jump-sylt"></a>Sylt</h2>
        <div class="row">
            <div class="col-xs-12 col-md-8">
                <p>Holiday with Flo's family.</p>
            </div>
            <div class="col-xs-12 col-md-4">
                IMAGE GOES HERE
            </div>
        </div>
        <h2 id="jump-sril"><a href="jump-sril"></a>Sri Lanka</h2>
        <div class="row">
            <div class="col-xs-12 col-md-8">
                <p>Adventure and surf camp with Flo.</p>
            </div>
            <div class="col-xs-12 col-md-4">
                IMAGE GOES HERE
            </div>
        </div>
    </div>
    <nav class="sidenav">
        <section class="sidenav-content">
            <section class="nav-group">
                <input id="scot-sidenav-group" type="checkbox">
                <a class="nav-link" onClick="document.getElementById('jump-to').scrollIntoView();">Scotland</a>
                <ul class="nav-list">
                    <li><a class="nav-link">Link 1</a></li>
                    <li><a class="nav-link">Link 2</a></li>
                    <li><a class="nav-link active">Link 3</a></li>
                </ul>
            </section>
            <section class="nav-group">
                <input id="moliets-sidenav-group" type="checkbox">
                <a class="nav-link" onClick="document.getElementById('jump-to').scrollIntoView();">Moliets</a>
                <ul class="nav-list">
                    <li><a class="nav-link">Link 1</a></li>
                    <li><a class="nav-link">Link 2</a></li>
                    <li><a class="nav-link active">Link 3</a></li>
                </ul>
            </section>
            <section class="nav-group">
                <input id="ildr-sidenav-group" type="checkbox">
                <a class="nav-link" onClick="document.getElementById('jump-to').scrollIntoView();">Ile de Ré</a>
                <ul class="nav-list">
                    <li><a class="nav-link">Link 1</a></li>
                    <li><a class="nav-link">Link 2</a></li>
                    <li><a class="nav-link active">Link 3</a></li>
                </ul>
            </section>
            <section class="nav-group">
                <input id="sylt-sidenav-group" type="checkbox">
                <a class="nav-link" onClick="document.getElementById('jump-to').scrollIntoView();">Sylt</a>
                <ul class="nav-list">
                    <li><a class="nav-link">Link 1</a></li>
                    <li><a class="nav-link">Link 2</a></li>
                    <li><a class="nav-link active">Link 3</a></li>
                </ul>
            </section>
            <section class="nav-group">
                <input id="sriL-sidenav-group" type="checkbox">
                <a class="nav-link" onClick="document.getElementById('jump-to').scrollIntoView();">Sri Lanka</a>
                <ul class="nav-list">
                    <li><a class="nav-link">Link 1</a></li>
                    <li><a class="nav-link">Link 2</a></li>
                    <li><a class="nav-link active">Link 3</a></li>
                </ul>
            </section>
        </section>
    </nav>
</div>

