.card .card-media-block .card-media-image {
    height: 120px;
    width: 81px;
    max-height: 120px;
    max-width: 81px;
    margin-top: 6px;
}

.card .card-media-block .card-media-image.album {
    height: 81px;
    width: 81px;
    max-height: 120px;
    max-width: 81px;
}
